frontend/
env
venv
.idea
sync_raspi.sh
spotify_connector/.cache
spotify_connector/milab/
entrypoint.sh
*/__pycache__
.cache
log/
.vscode/
# Default ignored files
/shelf/
/workspace.xml
/.venv/
/.idea/